@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,800');

.custom-shape-divider-top-1637614533 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1637614533 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 30rem;
}

#shape-fill {
  fill: url(#MyGradient);
}
