.nav-bg::after {
  content: '';
  position: absolute;
  top: -4px;
  left: 16px;
  height: 1rem;
  width: 1rem;
  background-color: #fff;
  border-radius: 15%;
  transform: rotate(45deg);
}

.drop-down {
  visibility: hidden;
}

ul:hover,
ul + .drop-down:hover {
  visibility: visible;
}
